.App-logo {
  height: 5vmin;
  float: right;
  padding: 5px;
  z-index: 1;
  position: fixed;
  right: 0;
}

.Featured {
  width: 100%;
  float: left;
  z-index: 2;
  top: 0px;
}

.Overlay {
  width: 100%;
  height: 300px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    209deg,
    rgba(255, 255, 255, 1) 9%,
    rgba(0, 0, 0, 0) 56%
  );
  background: -webkit-linear-gradient(
    209deg,
    rgba(255, 255, 255, 1) 9%,
    rgba(0, 0, 0, 0) 56%
  );
  background: linear-gradient(
    209deg,
    rgba(255, 255, 255, 1) 9%,
    rgba(0, 0, 0, 0) 56%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
  position: fixed;
}
.Play {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}
.FakeBar {
  width: 100%;
}
